
@import url(reset.css);
@import url(debug.css);
@import url(common.css);

/* Font face declarations */
@font-face {
	font-family: 'NeutraText';
	src: url(/fonts/NeutraText-Book.otf) format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NeutraTextBold';
	src: url(/fonts/NeutraText-Bold.otf) format('opentype');
	font-weight: bold;
	font-style: normal;
}

/* Primary nav */
nav#menu {
	position: fixed;
	z-index: 30;
	top: 0;
	width: 100%;
	padding: 0 var(--spacing-2);
	background-color: var(--grey-600);

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 var(--spacing-8);
	}

	.logo {
		font-family: var(--font-bold);
		font-size: var(--font-sm);
		color: white;
		font-weight: bold;
		display: inline-block;
		margin-right: var(--spacing-4);

		&:hover {
			text-decoration: none;
		}
	}

	menu {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;

		& > li > a {
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: white;
			padding: var(--spacing-3) var(--spacing-4);
			text-transform: uppercase;
			font-weight: bold;
			font-size: var(--font-xs);
			line-height: 1rem;

			&:hover {
				color: var(--grey-300);
				text-decoration: none;
			}

			span {
				display: block;
				margin-left: var(--spacing-2);
			}
		}

		& > li > menu {
			display: none;
			background-color: white;
			position: absolute;
			padding: var(--spacing-2) 0;
			box-shadow: var(--shadow-lg);
			width: 12rem;
			border-radius: var(--spacing-2);

			a {
				text-transform: none;
				font-size: var(--font-md);
				font-weight: normal;
				display: block;
				padding: var(--spacing-2);
				color: var(--grey-800);
				 
				&:hover {
					color: var(--grey-800);
					background-color: var(--grey-200);
					text-decoration: none;
				}
			}
		}

		& > li:hover > menu {
			display: block;
		}
	}
}

/* Footer content */
footer#footer {
	position: relative;
	background-color: var(-grey-300);
	margin-top: 5rem;

	.container {
		padding: 0 var(--spacing-8);
	}

	.links {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.social a {
		box-sizing: content-box;
		width: 24px;
		height: 24px;
		display: inline-block;
		background-color: white;
		margin-right: var(--spacing-2);
		padding: var(--spacing-3);
		box-shadow: var(--shadow-lg);
		border-radius: 100%;
		border: 1px solid var(--grey-200);
	}

	.useful {
		justify-self: end;
		margin-right: var(--spacing-8);

		h5 {
			text-transform: uppercase;
			color: var(--grey-600);
			font-size: var(--font-sm);
			font-weight: 600;
			margin-bottom: var(--spacing-2);
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			a {
				font-size: var(--font-sm);
				color: var(--grey-700);
				font-weight: 600;
				display: block;
				padding-bottom: var(--spacing-2);

				&:hover {
					color: var(--grey-900);
					text-decoration: none;
				}
			}
		}
	}

	.copyright {
		font-family: var(--font-bold);
		margin-top: var(--spacing-6);
		padding: var(--spacing-7) 0;
		border-top: 1px solid var(--grey-400);
		font-size: var(--font-xs);
		font-weight: 600;
		color: var(--grey-600);
		text-align: center;

		a {
			color: var(--grey-600);

			&:hover {
				text-decoration: none;
				color: var(--grey-800);
			}
		}
	}
}

/* Cover image */
#cover-image {
	position: relative;
	height: 500px;

	div {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: transparent url(/img/cover.jpg) 50% 50% no-repeat;
		background-size: cover;

		span {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0,0,0,0.5);
		}
	}

	svg {
		color: var(--grey-300);
		position: absolute;
		top: auto;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

/* Reposition central panel to display over the banner image */
.image-header {
	position: relative;
	margin-top: -20rem;
}

/* Main content */
main {
	margin-top: var(--spacing-16);
	background-color: white;
	padding: var(--spacing-8);
	box-shadow: var(--shadow-lg);
	border-radius: var(--spacing-2);
}

/* 3/4 main content plus 1/4 sidebar */
.sidebar {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-gap: var(--spacing-8);
}

.panel {
	border-bottom: 1px solid var(--grey-300);
	padding-bottom: var(--spacing-6);
	margin-bottom: var(--spacing-6);
	clear: left;
	overflow: hidden;

	img {
		padding: var(--spacing-2);
		border: 1px solid var(--grey-300);
		float: left;
		margin: 0 var(--spacing-4) var(--spacing-4) 0;
	}

	&:last-of-type {
		border-bottom-width: 0;
	}
}

figure {
	border: 1px solid var(--grey-300);
	padding: var(--spacing-3);
	margin-bottom: var(--spacing-4);
	border-radius: var(--spacing-2);
	position: relative;

	a {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.btn-icon {
		position: absolute;
		right: calc(var(--spacing-4) * -1);
		top: calc(var(--spacing-4) * -1);
		z-index: 20;
	}
}

figcaption {
	text-transform: uppercase;
	color: var(--grey-500);
	font-size: var(--font-xl);
	margin-top: var(--spacing-4);
}

/* Tarot suit header image */
main.header {
	margin-top: 10rem;
}

header {
	margin-top: -8rem;
	margin-bottom: var(--spacing-8);
	display: flex;
	justify-content: center;
	padding: var(--spacing-4);

	div {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: var(--spacing-2);
		box-shadow: var(--shadow-xl);
		border-radius: 9999px;
		background-color: white;
		width: 14rem;
		height: 14rem;
	}

	img {
		width: 10rem;
		height: auto;
	}

	img[data-suit=strength], img[data-suit=passion] {
		margin-top: calc(var(--spacing-4) * -1);
	}

	img[data-suit=control], img[data-suit=focus] {
		margin-top: var(--spacing-6);
	}
}

/* Overlay background */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: oklch(from var(--grey-800) l c h / 0.75);
	z-index: 50;
	backdrop-filter: blur(4px);

	display: flex;
	align-items: center;
	justify-content: center;
}

/* Card overlay */
.card-display {
	perspective: 1000px;

	.btn-icon {
		position: absolute;
		top: calc(var(--spacing-4) * -1);
		right: calc(var(--spacing-4) * -1);
		z-index: 60;
	}
}

.card-display.flipped .card {
	transform: rotateY(180deg);
}

.card {
	transition: transform 0.8s;
	transform-style: preserve-3d;
	position: relative;
}

.card-display .card-front, .card-display .card-back {
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}
.card-display .card-back {
	position: absolute;
	top: 0;
	right: 0;
	background: white url(/img/cards/card-back.png) no-repeat;
	background-size: contain;
	padding: var(--spacing-6);
	transform: rotateY(180deg);
}

.reversed {
	transform: rotate(180deg);
}

.card-info-reversed {
	text-align: center;
	margin-bottom: var(--spacing-2);
	color: var(--passion-900);
}

.card-back > div {
	background-color: oklch(from white l c h / 0.75);
	padding: var(--spacing-10) var(--spacing-6);
	font-size: var(--font-lg);
	height: 100%;
}

.card-info {
	margin: var(--spacing-4) 0;
	padding: var(--spacing-4) 0;
	border-bottom: 1px solid var(--grey-300);
	color: var(--grey-600);
}
.card-info.active {
	color: var(--grey-900);
	font-size: var(--font-xl);
}
.card-info:last-child {
	border-bottom: 0;
}

/* Forms */
.form-field {
	margin-bottom: var(--spacing-4);

	label {
		font-weight: 600;
		font-size: var(--font-xs);
		text-transform: uppercase;
		display: inline-block;
		margin-bottom: var(--spacing-2);
		color: var(--grey-500);
	}

	input[type=text] {
		background-color: white;
		color: var(--grey-600);
		font-size: var(--font-md);
		position: relative;
		border: 1px solid var(--grey-300);
		box-shadow: var(--shadow-md);
		border-radius: var(--spacing-1);
		padding: var(--spacing-3);
		display: block;
		width: 100%;
		padding-right: var(--spacing-10);
		outline: 2px solid transparent;
		outline-offset: 0;

		&:focus {
			outline-color: var(--focus-500);
		}
	}

	div {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: items-stretch;
	}

	span {
		position: absolute;
		top: 0;
		right: 1px;
		color: var(--grey-300);
		padding: var(--spacing-3);
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		cursor: pointer;

		&:hover {
			color: var(--grey-500);
		}
	}
}

/* Buttons */
.btn {
	font-family: sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: var(--font-sm);
	line-height: 1;
	text-align: center;
	padding: var(--spacing-3) var(--spacing-4);
	margin: 0 var(--spacing-1) var(--spacing-1) 0;
	background-color: var(--grey-400);
	color: var(--grey-700);
	border-radius: var(--spacing-1);
	box-shadow: var(--shadow-md);
	cursor: pointer;
	border: 0;

	&:hover {
		color: white;
		background-color: var(--grey-600);
		box-shadow: var(--shadow-lg);
	}

	&.disabled {
		cursor: default;
		background-color: var(--grey-300);
		color: var(--grey-400);
		box-shadow: none;

		&:hover {
			background-color: var(--grey-300);
			color: var(--grey-400);
			box-shadow: none;
		}
	}
	&.block {
		display: block;
		width: 100%;
	}
	&.small {
		font-size: var(--font-xs);
		padding: var(--spacing-1) var(--spacing-3);
	}
	&.primary {
		background-color: var(--focus-700);
		color: var(--focus-100);

		&:hover {
			background-color: var(--focus-900);
		}
	}
	&.secondary {
		background-color: var(--strength-700);
		color: var(--strength-100);

		&:hover {
			background-color: var(--strength-900);
		}
	}
	&.success {
		background-color: var(--control-700);
		color: var(--control-100);

		&:hover {
			background-color: var(--control-900);
		}
	}
	&.warning {
		background-color: var(--passion-700);
		color: var(--passion-100);

		&:hover {
			background-color: var(--passion-900);
		}
	}
	&.outlined {
		background-color: white;
		border: 1px solid var(--grey-700);

		&:hover {
			background-color: var(--grey-100);
			color: var(--grey-900);
		}

		&.primary {
			color: var(--focus-700);
			border-color: var(--focus-500);

			&:hover {
				background-color: var(--focus-100);
				color: var(--focus-900);
				border-color: var(--focus-900);
			}
		}
		&.secondary {
			color: var(--strength-700);
			border-color: var(--strength-500);

			&:hover {
				background-color: var(--strength-100);
				color: var(--strength-900);
				border-color: var(--strength-900);
			}
		}
		&.success {
			color: var(--control-700);
			border-color: var(--control-500);

			&:hover {
				background-color: var(--control-100);
				color: var(--control-900);
				border-color: var(--control-900);
			}
		}
		&.warning {
			color: var(--passion-700);
			border-color: var(--passion-500);

			&:hover {
				background-color: var(--passion-100);
				color: var(--passion-900);
				border-color: var(--passion-900);
			}
		}
	}
}
.btn-icon {
	background-color: white;
	width: 3rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: var(--spacing-2);
	border-radius: 9999px;
	border: 1px solid var(--grey-300);
	box-shadow: var(--shadow-md);

	&:hover {
		background-color: var(--grey-200);
	}
}

/* Alerts */
.alert {
	padding: var(--spacing-3) var(--spacing-4);
	margin-bottom: var(--spacing-4);
	display: flex;
	border-radius: var(--spacing-2);
	border: 1px solid;
}
.alert.success {
	background-color: var(--control-100);
	color: var(--control-900);
	border-color: var(--control-900);
}
.alert.primary {
	background-color: var(--focus-100);
	color: var(--focus-900);
	border-color: var(--focus-900);
}
.alert.secondary {
	background-color: var(--strength-100);
	color: var(--strength-900);
	border-color: var(--strength-900);
}
.alert.warning {
	background-color: var(--passion-100);
	color: var(--passion-900);
	border-color: var(--passion-900);
}


.btn-menu {
	position: relative;

	&:hover menu {
		display: block;
	}

	menu {
		list-style-type: none;
		margin: 0;
		display: none;
		background-color: white;
		position: absolute;
		top: var(--spacing-10);
		padding: var(--spacing-2) 0;
		box-shadow: var(--shadow-lg);
		width: 12rem;
		border-radius: var(--spacing-2);
		z-index: 20;

		li {
			text-transform: none;
			font-size: var(--font-md);
			font-weight: normal;
			display: block;
			padding: var(--spacing-1);
			color: var(--grey-800);
			cursor: hand;
			 
			&:hover {
				color: var(--grey-800);
				background-color: var(--grey-200);
				text-decoration: none;
			}
		}
	}
}