
:root {
	/* Screen sizes, minimum width to be considered in that category */
	/* These don't actually work in media queries, unfortunately */
	--screen-xsmall:  0em;
	--screen-small:  25em;
	--screen-medium: 36em;
	--screen-large:  55em;
	--screen-xlarge: 75em;

	/* Fonts */
	--font-base: 'NeutraText', sans-serif;
	--font-bold: 'NeutraTextBol', sans-serif;
	--font-xs: 0.75rem;
	--font-sm: 0.875rem;
	--font-md: 1rem;
	--font-lg: 1.125rem;
	--font-xl: 1.25rem;
	--font-2xl: 1.5rem;
	--font-3xl: 1.875rem;

	/* Shadow */
	--shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	--shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	--shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	--shadow-xl: 0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);

	/* Spacing */
	--spacing-1: 0.25rem;
	--spacing-2: 0.5rem;
	--spacing-3: 0.75rem;
	--spacing-4: 1rem;
	--spacing-5: 1.25rem;
	--spacing-6: 1.5rem;
	--spacing-7: 1.75rem;
	--spacing-8: 2rem;
	--spacing-9: 2.25rem;
	--spacing-10: 2.5rem;
	--spacing-11: 2.75rem;
	--spacing-12: 3rem;
	--spacing-13: 3.25rem;
	--spacing-14: 3.5rem;
	--spacing-15: 3.75rem;
	--spacing-16: 4rem;

	/* Base colours */
	--grey-50: oklch(98.5% 0.002 247.839);
	--grey-100: oklch(96.7% 0.003 264.542);
	--grey-200: oklch(92.8% 0.006 264.531);
	--grey-300: oklch(87.2% 0.01 258.338);
	--grey-400: oklch(70.7% 0.022 261.325);
	--grey-500: oklch(55.1% 0.027 264.364);
	--grey-600: oklch(44.6% 0.03 256.802);
	--grey-700: oklch(37.3% 0.034 259.733);
	--grey-800: oklch(27.8% 0.033 256.848);
	--grey-900: oklch(21% 0.034 264.665);
	--grey-950: oklch(13% 0.028 261.692);

	--blue-50: oklch(97% 0.014 254.604);
	--blue-100: oklch(93.2% 0.032 255.585);
	--blue-200: oklch(88.2% 0.059 254.128);
	--blue-300: oklch(80.9% 0.105 251.813);
	--blue-400: oklch(70.7% 0.165 254.624);
	--blue-500: oklch(62.3% 0.214 259.815);
	--blue-600: oklch(54.6% 0.245 262.881);
	--blue-700: oklch(48.8% 0.243 264.376);
	--blue-800: oklch(42.4% 0.199 265.638);
	--blue-900: oklch(37.9% 0.146 265.522);
	--blue-950: oklch(28.2% 0.091 267.935);
}

:root {
	--control-100: #e0f0d5;
	--control-300: #c1e0ac;
	--control-500: #a3d182;
	--control-700: #84c159;
	--control-900: #65b22f;

	--focus-100: #cdcdf9;
	--focus-300: #9b9bf3;
	--focus-500: #686aec;
	--focus-700: #3638e6;
	--focus-900: #0406E0;

	--passion-100: #f1cccc;
	--passion-300: #e39999;
	--passion-500: #d66666;
	--passion-700: #c83333;
	--passion-900: #BA0000;

	--strength-100: #fdf7d8;
	--strength-300: #faeeb1;
	--strength-500: #f8e68a;
	--strength-700: #f5dd63;
	--strength-900: #f3d53c;


	--primary-text: var(--grey-800);
	--primary-bg: var(--grey-300);

	--link-text: var(--blue-500);
	--link-text-hover: var(--blue-600);
}
