
@tailwind base
@tailwind components
@tailwind utilities

@layer base
	// basic  tag overrides
	body
		font-family: NeutraText

	main
		@apply px-6

	h1
		@apply text-2xl

	h2
		@apply text-xl

	p
		@apply mb-3

	ul.list, ol.list, .content ul, .content ol
		@apply my-4
		@apply ml-4

	ul.list, .content ul
		@apply list-disc

	ol.list, .content ol
		@apply list-decimal

	// font face declarations
	@font-face
		font-family: 'NeutraText'
		src: url(/fonts/NeutraText-Book.otf) format('opentype')
		font-weight: normal
		font-style: normal

	@font-face
		font-family: 'NeutraTextBold'
		src: url(/fonts/NeutraText-Bold.otf) format('opentype')
		font-weight: bold
		font-style: normal

	#cover-image
		background-image: url(/img/cover.jpg)

@layer components
	// form fields
	.input
		@apply font-sans text-gray-600 text-sm relative bg-white rounded border-0 shadow outline-none w-full focus:outline-none focus:ring focus:ring-blue-500 px-3 py-3 placeholder-gray-300

		&.warning
			@apply focus:ring-red-500 text-red-500

		&.disabled
			@apply bg-gray-200

	.label
		@apply font-sans font-semibold text-xs uppercase inline-block mb-2 text-gray-500

		&.warning
			@apply text-red-500

	.message
		@apply mt-2 text-sm text-gray-500

		&.warning
			@apply text-red-500

	// buttons
	.btn
		@apply font-sans
		@apply font-bold uppercase text-sm text-center
		@apply px-6 py-3
		@apply mr-1 mb-1
		@apply rounded shadow hover:shadow-lg outline-none focus:outline-none ease-linear transition-all duration-150

		&.disabled
			@apply bg-gray-300
			@apply text-gray-400
			@apply cursor-default
			@apply hover:shadow-none shadow-none

		&.enabled
			@apply hover:shadow-lg
			@apply cursor-pointer

		&.primary
			@apply bg-purple-600
			@apply text-purple-50
			@apply hover:bg-purple-800

		&.secondary
			@apply bg-gray-400
			@apply text-gray-900
			@apply hover:text-white
			@apply hover:bg-gray-600

		&.success
			@apply bg-green-600
			@apply text-green-50
			@apply hover:bg-green-800

		&.warning
			@apply bg-red-600
			@apply text-red-50
			@apply hover:bg-red-800

	.btn-icon
		@apply border border-solid
		@apply font-bold uppercase p-2 rounded-full outline-none focus:outline-none mr-1 mb-1
		@apply ease-linear transition-all duration-150
		@apply bg-white

		&.disabled
			@apply bg-gray-300
			@apply text-gray-400
			@apply cursor-default

		&.enabled
			@apply cursor-pointer

		&.primary
			@apply text-purple-500
			@apply border-purple-500
			@apply hover:bg-purple-200

		&.secondary
			@apply text-gray-500
			@apply border-gray-500
			@apply hover:bg-gray-200

		&.success
			@apply text-green-500
			@apply border-green-500
			@apply hover:bg-green-200

		&.warning
			@apply text-red-500
			@apply border-red-500
			@apply hover:bg-red-200

	.btn-group
		@apply flex

		.btn
			@apply rounded-none
			@apply mr-0

			&:first-child
				@apply rounded-l-md

			&:last-child
				@apply rounded-r-md